<section>
    <button #btn1 pButton type="button" label="Get Config" (click)="btn1Handler()"></button>

    <button #btn2 pButton type="button" label="Light Theme" (click)="btn2Handler()"></button>
    
    <button #btn3 pButton type="button" label="Dark Theme" (click)="btn3Handler()"></button>
</section>
