<div class="sidebar">
    <ul class="nav nav-sidebar">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['<%= dasherize(name) %>']"><%= classify(name) %></a></li>
    </ul>
</div>